body{
    background-color: rgb(45, 66, 99);
    font-family: 'Neuton';
}

header{
    background-color: rgb(45, 66, 99);
    width: 100%;
    height: 50px;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
}

header img{
    height: 40px;
}

header h1{
    margin: 0;
    margin-left: 10px;
    cursor: pointer;
    font-size: 35px;
}

.hiddenhelp{
    display: none;
    position: absolute;
    margin-top: 50px;
}

header h1:hover + .hiddenhelp{
    display: block;
}

.hiddenhelp img{
    height: 500px;
}

.maincontainer, .keyboardcontainer{
    background-color: rgb(60, 88, 133);
    width: 45%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    border: solid 1px #ccc;
    border-radius: 10px;
}

.row{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.row input{
    width: 70px;
    height: 70px;
    font-size: 30px;
    text-align: center;
    border: solid 1px #ccc;
    border-radius: 10px;
    transition: all .3s ease;
    font-family: 'Neuton';
}

/* keyboard keys */
.row div{
    display: grid;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: rgb(49, 49, 49);
    margin-right: 10px;
    margin-top: 10px;
    border: solid 1px rgb(255, 255, 255);
    color: white;
    font-size: 20px;
    font-weight: 600;
}